#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: hsl(110, 45%, 80%);
    border: 1px solid black;
    
}

#outputs {
    padding: 5px;
    background-color: pink;
    border: 1px solid black;    
}

.circle, .square {
    border: 1px solid black;
    position: absolute;
}

.circle {
    border-radius: 100%;
}

.output {

}