#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: hsl(110, 45%, 80%);
    border: 1px solid black;
    
}

#outputs {
    padding: 5px;
    background-color: pink;
    border: 1px solid black;    
}

.shape {
    position: absolute;
}

.circle {
    border-radius: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}